.weather-form {
  & h1 {
    color: $offWhite;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  & input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 0.1rem $hotOrange;
    width: 50%;
    padding-bottom: 0.4rem;
    color: #fff !important;
    font-weight: lighter;
    letter-spacing: 0.2em;
    margin-bottom: 3rem;
    margin-right: 2rem;
    font-size: 1rem;
  }

  & input[type="text"] {
    outline: none;
  }

  & input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $blueGray inset;
    -webkit-text-fill-color: #fff !important;
  }

  & button {
    border: 0;
    padding: 0.8rem 2rem;
    margin: 0 0.2rem;
    border-radius: 0.2rem;
    font-weight: lighter;
    letter-spacing: 0.1em;
    font-size: 1rem;
    cursor: pointer;
    background-color: $subtleBlack;
    color: #fff;
    font-weight: 100;
  }

  & button:hover {
    background-color: $yellow;
    color: $subtleBlack;
  }

  & button:active {
    outline: none;
  }
}
